/* You can add global styles to this file, and also import other style files */

body {
  background-color: #F5F5F5;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: geometricPrecision;
}

.btn, .btn-link {
  cursor: pointer;
  transition: border-color 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
}

.btn-link {
  color: #E30000;
  text-decoration: underline;
  background-color: inherit;
}

.btn:disabled {
  background-color: #e5e5e5;
  color: #666666;
  cursor: default;
}

.as-link {
  text-decoration: underline;
  cursor: pointer;
}

.with-icon .icon {
  margin-right: 2px;
  vertical-align: sub;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.spacer {
  flex: 1;
}

.left-delimiter, .right-delimiter {
  position: relative;
}

.left-delimiter::before, .right-delimiter::after {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  width: 1px;
  z-index: 1;
  background-color: #fafafa;
}

.left-delimiter::before {
  left: -1px;
}

.right-delimiter::after {
  right: -1px;
}

/*----------------------------------------------------------*/
.availability {
  margin: 0 auto;
  width: 920px;
}

.itinerary {
  margin: 10px 0 0;
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.itinerary .itinerary-header .itinerary-info,
.itinerary .itinerary-details .avail-actions {
  width: 25%;
}

.itinerary .itinerary-header .fare,
.itinerary .itinerary-details .fare-details {
  flex: 1;
}

.itinerary-header, .itinerary-details {
  display: flex;
  flex-flow: row;
}

.itinerary-info {
  position: relative;
  padding: 5px 10px;
  min-height: 137px;
}

.itinerary-info:after {
  background-color: #dedede;
}

.flight-summary {
  margin-bottom: 1rem;
}

.flight-summary header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.flight-summary h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: .25rem;
}

.flight-summary h3:last-child {
  margin-right: 25%;
}

.flight-summary h3 span {
  color: #666;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5rem;
}

.flight-summary footer {
  display: flex;
  flex-flow: row;
  font-size: 12px;
}

.flight-summary footer div {
  margin-right: 10px;
}

.flight-summary .flight-number, .flight-summary .flight-stops {
  color: #E30000;
}

.total-duration {
  font-weight: 500;
  font-size: 14px;
}

.fare-families {
  display: block;
  margin-left: 25%;
  padding-left: 20px;
  margin-bottom: 8px;
}

.fare-family-names, .fare-family-description {
  display: flex;
  flex-flow: row;
}

.fare-family-names {
  align-items: flex-end;
}

.fare-family-names h4, .fare-family-description div {
  flex: 1;
}

.fare-family-names h4 {
  font-size: .9rem;
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: .5rem;
  padding-right: 1.4rem;
}

.fare-family-description {
  font-size: 12px;
  color: #666;
}

.fare-family-description div {
  padding-right: 1rem;
}

.fare {
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  z-index: 2;
  user-select: none;
  font-size: 24px;
}

.fare .fare-amount {
  color: #E30000;
  margin-top: .5rem;
}

.fare .no-seats {
  color: #aaa;
}

.fare .last-seats {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 11px;
  padding: 2px 0.5rem;
  background-color: #DCF6F5;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #dcf6f5;
}

.jq-fare-name {
  font-size: 14px;
  margin-top: -.5rem;
}

.itinerary-header .fare {
  border-top-width: 2px;
  border-top-style: solid;
}

.fare-selected {
  border-right-width: 2px;
  border-right-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  margin: 0;
  background-color: #f5f5f5;
}

.fare-inactive {
  background-color: #fafafa;
}

.itinerary-details {
  border-top: 2px solid #ddd;
}

.avail-actions {
  padding: 0 10px;
}
.avail-actions, .fare-details {
  padding-top: 1rem;
}

.itinerary-details .action-desc, .itinerary-details .fare-details > div {
  margin-bottom: 1rem;
}

.fare-details {
  text-align: center;
  margin: 0 2px 2px;
}

.fare-details .full-fare {
  border: none;
  display: block;
  margin: 1rem auto;
}

.fare-details .rule-yes {
  color: green;
}

.fare-details .rule-no {
  color: red;
}

.itinerary-details .fare-selected {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background-color: inherit;
  margin: 0;
  position: relative;
}

.itinerary-details .fare-selected::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  height: 2px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: inherit;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: inherit;
}

.flight-operated {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}

.itinerary + .flight-operated {
  margin-top: .8rem;
}

.flight-operated:last-of-type {
  margin-bottom: 1.4rem;
}

footer.itinerary-footer {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin: 1rem 0 2rem;
}

.itinerary-footer .footer-notes {
  font-size: 11px;
  line-height: 16px;
  flex: 3;
}

.select-fare {
  display: flex;
  flex-flow: column;
  flex: 2;
  align-items: flex-end;
}

.select-fare .last-seats {
  border-radius: 4px;
  padding: .8rem 1rem;
  background-color: #E7F7F7;
  margin-bottom: .8rem;
}

.select-fare .action {
  display: flex;
  flex-flow: row;
}

.select-fare .fare-info {
  margin: 0 1.5rem;
  text-align: right;
}

.fare-info .fare-type {
  font-size: 16px;
}

.fare-info .fare-amount {
  font-size: 24px;
  line-height: 1.5rem;
}


.select-fare .btn {
  font-size: 17px;
  line-height: 23px;
  color: #ffffff;
  background-color: #E40000;
  border: 0;
  height: 48px;
  border-radius: 4px;
  padding-left: 64px;
  padding-right: 64px;
  text-transform: uppercase;
}

.select-fare .btn:disabled {
  background-color: #e5e5e5;
  color: #666666;
}



.modal-open {
  overflow: hidden;
}

.modal-backdrop, .modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-backdrop {
  z-index: 1000;
  background-color: #fff;
}

.modal {
  z-index: 1100;
}


.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.85;
}

.modal-dialog {
  margin: 0 auto;
  max-width: 720px;
  height: 100%;
  position: relative;
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.modal-header {
  height: 172px;
  background-image: url(https://book.qantas.com.au/qf-booking/qf-booking_mer_r5_qf-booking.5_070417/assets/img/modal/bg-modal-header.svg);
  background-repeat: no-repeat;
  position: relative;
}

.modal-header .close {
  position: absolute;
  right: 100%;
  top: 3rem;
  text-align: right;
  margin-right: 1rem;
  border: none;
  background: none;
  width: 100px;
  vertical-align: middle;
  font-size: 16px;
  cursor: pointer;
}

.modal-header .close span {
  vertical-align: sub; /* Should not use that... don't want to spend more time on it */
  font-size: 30px;
  font-weight: 100;
  color: #979797;
}

.modal-title {
  margin: 0;
  line-height: 172px;
  text-align: center;
  color: #fff;
  font-size: 22px;
}

.modal-footer {
  margin: 1rem 1rem 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #cccccc;

  font-size: 12px;
  color: #666666;
}


.flight-information-modal .modal-body {
  display: flex;
  flex-flow: row;
  padding: 1rem;
}

.flight-information-modal .flight-info {
  margin-right: 2rem;
  min-width: 25%;
}
.flight-information-modal .flight-info .flight-number {
  font-size: 22px;
}

.flight-information-modal .flight-info .flight-number .icon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}

.flight-information-modal .flight-info .operated {
  text-indent: 25px;
}

.flight-information-modal .flight-details {
  flex: 1;
}

.flight-information-modal .flight-details table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.flight-information-modal .flight-details table th,
.flight-information-modal .flight-details table td {
  font-size: 16px;
  line-height: 25px;
}

.flight-information-modal .flight-details table th {
  width: 30%;
  text-align: left;
  font-weight: normal;
}

.flight-information-modal .flight-details .spacer th,
.flight-information-modal .flight-details .spacer td {
  padding-bottom: 1rem;
}


