/*
main color: #333;
main orange: #FF7019
dark grey: #393939;
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto+Mono:300,400&display=swap');
/* Fira-Mono ?*/

body.main {
    font-size: 16px;
    color: #333;
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

@media(min-width:1024px) {
    body.main {
        font-size: 15px;
    }
}

/* ------------------------------------------------------------------------------------------------------------ */

/* Main Menu */

body {
    display: flex;
    justify-content: center;
}

div.root {
    max-width: 1600px;
    min-height: 100vh;
    flex-grow: 1;
    background-color: #FFFFFF;
    border-right: 1px solid #efefef;
}

nav.mainMenu .container {
    flex-grow: 1;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
}

nav.mainMenu {
    position: fixed;
    width: 100vw;
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 0 0 .5rem 0;
    background-color: #00000010;
    z-index: 1000;
}

nav.mainMenu ul {
    padding: 0 0 4px 10px;
    display: block;
    font-size: 1.05rem;
    margin-top: 20px;
    margin-right: 25px;
    background-color: #efefef;
    font-weight: 400;
}

nav.mainMenu li {
    display: inline !important;
    margin: 0 15px 0 0;
    cursor: pointer;
    padding: 2px 2px 2px 6px;
}

nav.mainMenu li:hover {
    color: #008BFC;
}

nav.mainMenu .mainLogo {
    padding: 10px 0 3px 40px;
    cursor: pointer;
}

svg.ivyLogoDark {
    stroke: #008BFC;
}

svg.ivyLogoLight {
    stroke: #FFFFFF;
}

svg.ghLogo {
    position: relative;
    top: 3px;
}

svg.ghLogo .logo {
    fill: #333;
}

nav.mainMenu li:hover svg.ghLogo .logo {
    fill: #FF7019;
}

nav.mainMenu .active {
    color: #FF7019;
}

/* ------------------------------------------------------------------------------ */

/* General layout */

.layout .blockA {
    flex: 2;
}

.layout .blockB {
    flex: 1;
}

.layout .blockA2 {
    flex: 3;
}

.layout .blockB2 {
    flex: 1;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.infoBlock .title {
    font-weight: 400;
    padding: 1rem 0 .2rem 3px;
}

.infoBlock .content {
    color: #FFFFFF;
    padding: 1rem 2rem 1rem 3rem;
    line-height: 1.2rem;
}

/* ------------------------------------------------------------------------------ */

/* Home page */

div.home {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.home .blockA {
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
}

.home .blockA .row1 {
    height: 65px;
    border-left: 10px solid #B5B5B5;
    flex-grow: 0;
}

.home .blockA .row2 {
    background-color: #313131;
    height: 360px;
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.home .blockA .row3 {
    border-left: 10px solid #B5B5B5;
    flex-grow: 1;
}

.home .mainA {
    flex-grow: 8;
    color: #FFFFFF;
    border-left: 10px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
}

.home .ivyLogoMain {
    stroke: #FFFFFF;
    transform: translate(130px, -10px) scale(3.5);
}

.home .mainLogo {
    position: relative;
    left: -50px;
    top: 20px;
}

.home .mainB {
    width: 250px;
    flex-grow: 1;
    background-color: #0c5499;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .mainB .features p {
    font-size: 1.2rem;
    padding: 7px;
    color: #FFFFFF;
}

.home .blockB .row1 {
    height: 65px;
    flex-grow: 0;
}

.home .blockB .row2 {
    height: 360px;
    flex-grow: 0;
    background-color: #1A85E9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home .blockB .row3 {
    flex-grow: 1;
}

.home .headline {
    color: #FFFFFF;
    max-width: 360px;
    padding: 0 1rem 0 4rem;
}

.home .headline .highlight {
    background-color: #313131;
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 0 2px 0 2px;
}

.home .headline .details {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.home .headline .details b {
    font-weight: 600;
}

.infoBlock.variantA {
    margin-top: 2.2rem;
}

.infoBlock.variantA .title {
    border-bottom: 1px solid #FF7019;
}

.infoBlock.variantA .content {
    background-color: #FF7019;
}

.infoBlock.variantB {
    margin-top: 1.7rem;
}

.infoBlock.variantB .title {
    border-bottom: 1px solid #1366B3;
}

.infoBlock.variantB .content {
    background-color: #1366B3;
}

.infoBlock.variantC {
    margin-top: 2rem;
}

.infoBlock.variantC .title {
    border-bottom: 1px solid #1A85E9;
}

.infoBlock.variantC .content {
    background-color: #1A85E9;
}

.infoBlock.variantD {
    margin-top: 1.5rem;
}

.infoBlock.variantD .title {
    border-bottom: 1px solid #C1C1C1;
}

.infoBlock.variantD .content {
    background-color: #C1C1C1;
    color: #333;
    font-weight: 400;
}

.home .sideblock {
    font-weight: 400;
    padding: 2.2rem 1rem 1rem 4rem;
}

.home .sideblock h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home .sideblock p {
    padding: 0.7rem 0;
}

/* ------------------------------------------------------------------------------ */

/* Code & Extract highlighting */

.code {
    position: relative;
    color: white;
    overflow: scroll;
    padding: 2.2rem 0 2rem 2rem;
}

.code svg.top {
    position: absolute;
    top: -1px;
    left: 8rem;
}

.code svg.bottom {
    position: absolute;
    bottom: -1px;
    left: 8rem;
}

.code .triangle {
    stroke: #1670C5;
    fill: #1670C5;
}

.extract.ts {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.3rem;
    font-size: 1rem;
    overflow-y: scroll;
}

.extract.ts .hc {
    /* comments */
    color: rgb(125, 159, 191);
}

.extract.ts .hr {
    /* storage: const, let, => */
    color: rgb(243, 162, 250);
}

.extract.ts .hs {
    /* strings */
    color: rgb(245, 189, 120);
}

.extract.ts .hf {
    /* function */
    color: rgb(255, 236, 129);
}

.extract.ts .hk {
    /* keywords */
    color: rgb(250, 165, 85);
}

.extract.ts .hn {
    /* constants */
    color: rgb(255, 236, 129);
}

.extract.ts .hv {
    /* variable */
    color: rgb(150, 255, 129);
}

.extract.ts .ht {
    /* types */
    color: rgb(199, 225, 254);
}

.extract.ts .hy {
    /* types */
    color: rgb(199, 225, 254);
}

.extract.ts .hg {
    /* tags */
    color: rgb(243, 162, 250);
    font-weight: bold;
}

.extract.ts .ho {
    /* entity.other - eg. tag attributes */
    color: rgb(199, 225, 254);
}

.extract.ts .hp {
    /* punctuation */
    color: rgb(125, 159, 191);
}

/* Main menu --------------------------------------------------------------------- */

.main_menu {
    margin-top: 5rem;
}

.menu.cat.container {
    border-left: 10px solid #3C3C3C;
    padding: .4rem 0 .4rem 2rem;
}

.menu.cat.container.selected {
    border-left: 10px solid #1670C5;
    background-color: #3C3C3C;
}

.menu.cat .title {
    font-weight: bold;
    padding: .2rem 0 .2rem 0;
}

.menu.cat .content {
    padding: .2rem 0 .2rem 1.2rem;
}

.menu.cat li {
    padding: .1rem 0 .1rem 0;
    cursor: pointer;
}

.menu.cat li:before {
    content: "_";
    padding-right: 5px;
}

.menu.cat li.selected {
    font-weight: bold;
    color: #008BFC;
}

/* Tutorial & Example pages ------------------------------------------------------ */

div.layout2 {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.layout2 .blockA2 {
    background-color: #313131;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.layout2 .blockA2 .menu {
    width: 270px;
    flex-grow: 0;
    color: #FFFFFF;
}

.layout2 .blockA2 .mainpanel {
    padding-top: 4rem;
    flex-grow: 1;
    background-color: #0c5499;
}

.layout2 .blockB2 {
    padding-top: 70px;
}

.examples .demo h1 {
    width: 100%;
    margin: 3rem .3rem .3rem 1rem;
}

.examples .demo iframe {
    width: 100%;
    min-height: 700px;
}

div.text {
    color: #FFFFFF;
    background-color: #1670C5;
    padding: 2rem 0 2rem 2rem;
}

.layout2 h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}