/*
main color: #333;
main orange: #FF7019
dark grey: #393939;
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto+Mono:300,400&display=swap');
/* Fira-Mono ?*/

body.main {
    font-size: 17px;
    color: #333;
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* ------------------------------------------------------------------------------------------------------------ */

/* Main Menu */

body {
    display: flex;
    justify-content: center;
}

div.root {
    max-width: 1600px;
    min-height: 100vh;
    flex-grow: 1;
    background-color: #FFFFFF;
    border-right: 1px solid #efefef;
}

nav.mainMenu .container {
    flex-grow: 1;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
}

nav.mainMenu {
    position: fixed;
    width: 100vw;
    height: 4.5rem;
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #00000010;
    z-index: 1000;
}

nav.mainMenu ul {
    padding: 2px 0 8px 10px;
    display: block;
    font-size: 1.1rem;
    margin-top: 22px;
    margin-right: 25px;
    background-color: #0b4f90;
    color: #ffffff;
    font-weight: 400;
}

nav.mainMenu li {
    display: inline !important;
    margin: 0 15px 0 0;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
}

nav.mainMenu li:hover {
    color: #008BFC;
}

nav.mainMenu .active {
    color: #FF7019;
}

nav.mainMenu .active:hover {
    color: #FF7019;
}

svg.ghLogo {
    width: 22px;
    height: 22px;
}

nav.mainMenu li:hover svg.ghLogo .logo {
    fill: #008BFC;
}

nav.mainMenu .mainLogo {
    padding: 10px 0 3px 40px;
    cursor: pointer;
}

svg.ivyLogo {
    position: relative;
    top: 10px;
    stroke: #333333;
}

svg.ghLogo {
    position: relative;
    top: 3px;
}

svg.ghLogo .logo {
    fill: #ffffff;
}

/* ------------------------------------------------------------------------------ */

/* General layout */

.layout .blockA {
    flex: 2;
}

.layout .blockB {
    flex: 1;
}

.layout .blockA2 {
    flex: 3;
}

.layout .blockB2 {
    flex: 1;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.infoBlock .title {
    font-weight: 400;
    padding: 1rem 0 .2rem 3px;
}

.infoBlock .content {
    color: #FFFFFF;
    padding: 1rem 2rem 1rem 3rem;
    line-height: 1.2rem;
}

/* ------------------------------------------------------------------------------ */

/* Home page */

div.home {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.home .blockA {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
}

.home .blockA .row1 {
    height: 4.3em;
    border-left: 10px solid #B5B5B5;
    flex-grow: 0;
}

.home .blockA .row2 {
    background-color: #1670C5;
    height: 360px;
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.home .blockA .row3 {
    border-left: 10px solid #B5B5B5;
    flex-grow: 1;
}

.home .mainA {
    flex-grow: 8;
    color: #FFFFFF;
    border-left: 10px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
}

.home .blockA .section1 {
    background-color: #888;
    color: #333333;
    padding: 2rem 4rem;
    min-height: 25rem;
}

.home .ivyLogoMain {
    stroke: #FFFFFF;
    transform: translate(130px, -10px) scale(3.5);
}

.home .mainLogo {
    position: relative;
    left: -50px;
    top: 20px;
}

.home .mainB {
    width: 250px;
    flex-grow: 1;
    background-color: #0c5499;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .mainB .features p {
    font-size: 1.2rem;
    padding: 7px;
    color: #FFFFFF;
}

.home .blockB {
    background-color: #0c5499;
    padding: 0;
    margin: 0;
}

.home .blockB .row1 {
    height: 4.3em;
    flex-grow: 0;
}

.home .blockB .row2 {
    height: 360px;
    flex-grow: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home .blockB .row3 {
    flex-grow: 1;
    color: #ffffff;
}

.home .headline {
    color: #333333;
    max-width: 360px;
    padding: 0 1rem 0 4rem;
}

.home .headline .highlight {
    background-color: #313131;
    /* #989898 */
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 0 2px 0 2px;
}

.home .headline .details {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.home .headline .details b {
    font-weight: 600;
}

.infoBlock.variantA {
    margin-top: 2.2rem;
}

.infoBlock.variantA .title {
    border-bottom: 1px solid #FF7019;
}

.infoBlock.variantA .content {
    background-color: #FF7019;
}

.infoBlock.variantB {
    margin-top: 1.7rem;
}

.infoBlock.variantB .title {
    border-bottom: 1px solid #1366B3;
}

.infoBlock.variantB .content {
    background-color: #1366B3;
}

.infoBlock.variantC {
    margin-top: 2rem;
}

.infoBlock.variantC .title {
    border-bottom: 1px solid #1A85E9;
}

.infoBlock.variantC .content {
    background-color: #1A85E9;
}

.infoBlock.variantD {
    margin-top: 1.5rem;
}

.infoBlock.variantD .title {
    border-bottom: 1px solid #C1C1C1;
}

.infoBlock.variantD .content {
    background-color: #C1C1C1;
    color: #333;
    font-weight: 400;
}

.home .sideblock {
    font-weight: 400;
    padding: 2.2rem 1rem 1rem 4rem;
}

.home .sideblock h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home .sideblock p {
    padding: 0.7rem 0;
}

/* ------------------------------------------------------------------------------ */

/* Code & Extract highlighting */

.code {
    position: relative;
    color: white;
    padding: 2.2rem 2rem 2rem 4rem;
}

.code svg.top {
    position: absolute;
    top: -1px;
    left: 8rem;
}

.code svg.bottom {
    position: absolute;
    bottom: -1px;
    left: 8rem;
}

.code .triangle {
    stroke: #1670C5;
    fill: #1670C5;
}

.extract.ts_code {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: 400;
    line-height: 1.3rem;
    font-size: 1rem;
}

.extract.ts_code .hc {
    /* comments */
    color: rgb(125, 159, 191);
}

.extract.ts_code .hr {
    /* storage: const, let, => */
    color: rgb(243, 162, 250);
}

.extract.ts_code .hs {
    /* strings */
    color: rgb(245, 189, 120);
}

.extract.ts_code .hf {
    /* function */
    color: rgb(255, 236, 129);
}

.extract.ts_code .hk {
    /* keywords */
    color: rgb(250, 165, 85);
}

.extract.ts_code .hn {
    /* constants */
    color: rgb(255, 236, 129);
}

.extract.ts_code .hv {
    /* variable */
    color: rgb(150, 255, 129);
}

.extract.ts_code .ht {
    /* types */
    color: rgb(199, 225, 254);
}

.extract.ts_code .hy {
    /* types */
    color: rgb(199, 225, 254);
}

.extract.ts_code .hg {
    /* tags */
    color: rgb(243, 162, 250);
    font-weight: bold;
}

.extract.ts_code .ho {
    /* entity.other - eg. tag attributes */
    color: rgb(199, 225, 254);
}

.extract.ts_code .hp {
    /* punctuation */
    color: rgb(125, 159, 191);
}

/* Main menu --------------------------------------------------------------------- */

.main_menu {
    font-size: 1.05rem;
    background-color: #989898;
    margin-top: 4.5rem;
    color: #333;
    cursor: default;
}

.menu.cat.container {
    border-left: 10px solid #989898;
    padding: .7rem 0 .6rem 1.7rem;
}

.menu.cat.container.selected {
    border-left: 10px solid #333333;
    background-color: #888;
}

.menu.cat.container.first {
    padding-top: 2.35rem;
}

.menu.cat.container.last {
    padding-bottom: 2.35rem;
}

.menu.cat .title {
    font-weight: bold;
    padding: .2rem 0 .2rem 0;
}

.menu.cat .content {
    padding: .2rem 0 .2rem .8rem;
}

.menu.cat li {
    padding: .2rem 0 .1rem 0;
    cursor: pointer;
}

.menu.cat li:before {
    content: "_";
    padding-right: 5px;
}

.menu.cat li.selected {
    font-weight: bold;
    color: #ffffff;
}

/* Tutorial & Example pages ------------------------------------------------------ */

div.layout2 {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.layout2 .blockA2 {
    background-color: #e8e8e8;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.layout2 .blockA2 .menu {
    width: 370px;
    flex-grow: 0;
}

.layout2 .blockA2 .mainpanel {
    padding-top: 4.5rem;
    flex-grow: 1;
    color: #ffffff;
    background-color: #0c5499;
}

.layout2 .blockB2 {
    padding-top: 70px;
}

.examples .demo {
    background-color: #ffffff;
}

.examples .demo iframe {
    margin-top: .5rem;
}

.examples .demo .text {
    color: #333333;
    margin-right: .6rem;
    cursor: default;
}

.svgDemoBtn {
    width: 18px;
    height: 18px;
    margin: 0 .3rem;
}

.svgDemoBtn, .svgDemoBtn path {
    stroke: #0D5598;
    cursor: pointer;
}

.svgDemoBtn polygon {
    stroke: #0D5598;
    fill: #0D5598;
    cursor: pointer;
}

.svgDemoBtn:hover, .svgDemoBtn:hover path {
    stroke: #FF7019;
    cursor: pointer;
}

.svgDemoBtn:hover polygon {
    stroke: #FF7019;
    fill: #FF7019;
    cursor: pointer;
}

.svgDemoBtn:focus, .svgDemoBtn:focus path {
    outline: none;
}

.examples h1 {
    /* main title */
    font-size: 1.5rem;
    padding: .5rem 0 .5rem 0;
}

.examples h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.examples p {
    padding: .3rem 0 .3rem 0;
}

.examples .demo iframe {
    width: 100%;
}

.examples .demo a {
    color: #333;
    text-decoration: none;
}

div.text, .mainpanel .md {
    color: #FFFFFF;
    background-color: #1670C5;
    padding: 2rem 2rem 2.2rem 4rem;
}

.md.top-desc {
    padding: 0 2rem 2.2rem 4rem;
}

.md.top-desc p {
    margin-top: 0;
}

.demo h1 {
    font-size: 1.5rem;
    padding: 1.5rem 0 0.5rem 4rem;
}

.md h2 {
    font-size: 1.2rem;
    padding-top: 1.4rem;
    padding-bottom: 0;
}

.mainpanel ul {
    padding-top: 5px;
}

.mainpanel li {
    padding-bottom: 4px;
    line-height: 1.3rem;
}

.mainpanel li:before {
    content: "_";
    padding-right: 5px;
}

.md strong {
    font-weight: bold;
}

.md em {
    font-style: italic;
}

.md p {
    margin-top: .8rem;
    line-height: 1.3rem;
}

.md a {
    color: rgb(253, 163, 106);
    font-weight: bold;
    text-decoration: none;
}

.md a:hover {
    color: rgb(255, 143, 73);
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------ */

.notions {
    background-color: #1670C5;
    padding: 0 4rem 2rem 4rem;
    /* padding: .2rem 0 .2rem 1rem; */
}

.notions .block {
    border-left: 5px solid #FF7019;
    padding-left: 1rem;
    padding-bottom: .3rem;
}

.notions .title {
    font-size: 1.1rem;
    padding: .2rem 0 .5rem 0;
}

.notions ul {
    line-height: 1.3rem;
}

.notions .name {
    font-weight: 600;
}