.clock {
    width: 200px;
    height: 200px;
}

.clock-face {
    stroke: #333;
    fill: white
}

.minor {
    stroke: #999;
    stroke-width: 0.5
}

.major {
    stroke: #333;
    stroke-width: 1
}

.hour {
    stroke: #333
}

.minute {
    stroke: #666
}

.second,
.second-cw {
    stroke: #b40000
}

.second-cw {
    stroke-width: 3
}
